{% extends 'orfol/base.html' %}
{% load static %}
    {% block content %}
                    <div class="container">
                        {% for r in  rep %}
                        <div class="row col-lg-12">
                          <div class="col-md-12 ftco-animate">
{#                           <div class="col-lg-2">#}
{#                           </div>#}
                            <div class="offset-lg-2 job-post-item py-4 d-block d-lg-flex align-items-center">
                              <div class="one-third mb-4 mb-md-0">
                                <div class="job-post-item-header d-flex align-items-center">
{#                                  <img class="rounded" height="120" width="120" src={{ r.reportimage.imagepath.url }}>#}
                                  <h2 class="mr-5 text-black"><a href="{% url 'reportdetail' r.id %}">{{ r.title }}</a></h2>
                                  <div class="badge-wrap">
                                   <span class="bg-primary text-white badge py-2 px-5">{{ r.reward }}</span>
                                  </div>
                                </div>
                                <div class="job-post-item-body d-block d-md-flex">
                                  <div class="mr-3"><span class="icon-layers"></span> <a href="#">{{ r.date_occurrence }}</a></div>
                                  <div><span class="icon-my_location"></span> <span>{{ r.location }}</span></div>
                                </div>
                              </div>

                              <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
                                <div>
                                    <a href="#" class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
                                        <span class="icon-heart"></span>
                                    </a>
                                </div>
                                <a href="{% url 'reportdetail' r.id %}" class="btn btn-primary ">view more</a>
                              </div>
                            </div>
                          </div>
                        </div>{% endfor %}
                    </div>
{% endblock content %}