{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Base</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-success">
              <a class="navbar-brand text-white" href="{% url 'reportlist' %}">ORFOL</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="mr-auto"></div>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="mr-auto"></div>
                <ul class="navbar-nav align-left">
                  <li class="nav-item active">
                    <a class="nav-link text-white" href="{% url 'reportlist' %}">Home</a>
                  </li>
                   <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Report
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{% url 'createreport' %}">Create</a>
                          <a class="dropdown-item" href="{% url 'searchfilter' %}">Search Report</a>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'profile' %}">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'category' %}">Category</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'logout' %}">Logout</a>
                  </li>
                </ul>
              </div>
            </nav>
        {% block body %}
        {% endblock %}

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>